<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	<h1>Create Item for list</h1>
    <div>
      
      <form method="POST">
        {% csrf_token %}
        
        <input name="item_name" type="text" placeholder="Enter Item"></input>
        <button type="submit">Submit</button>
      </form>
    </div>
    <a href="{% url 'index' %}">Back</a>
  </body>
</html>